* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ff7420;
  /* aq sheigdzlia sheinaxo cvladebi ro mere gamoiyeno da yoveljerze armogiwios dzebna */
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

.container {
  margin: 0 auto;
}
.logoside img {
  max-width: 240px;
}
.dropdownButton img {
  height: 25px;
  margin-left: 10px;
}
button {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
nav {
  height: 158px;
  background-color: #191a19;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  height: 44px;
  transition: color 0.3s;
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--main-color);
  transition: width 0.3s;
}
nav ul li:hover {
  color: var(--main-color);
}
nav ul li:hover:before {
  width: 100%;
}

.activeNav {
  color: var(--main-color);
}
.activeNav::before {
  width: 100%;
}

.contactButton {
  background-color: var(--main-color);
  border-radius: 8px;
  height: 44px;
  width: 140px;
  color: white;
}
.dropdownButton {
  display: flex;
  align-items: center;
  color: white;
  background: transparent;
  height: 44px;
  width: 140px;
}
